In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset_light_2023_09_27.csv')
df.head()

,station_id,nb_velos_dispo,nb_places_dispo,latitude,longitude,record_timestamp
0,1,0,0,50.641926,3.075992,2023-09-27 18:18:01.557000+00:00
1,1,0,0,50.641926,3.075992,2023-09-27 05:32:00.631000+00:00
2,1,0,0,50.641926,3.075992,2023-09-27 02:37:01.470000+00:00
3,1,0,0,50.641926,3.075992,2023-09-27 07:02:06.403000+00:00
4,1,0,0,50.641926,3.075992,2023-09-27 04:19:01.130000+00:00

In [4]:
df['ratio'] = df['nb_velos_dispo'] / (df['nb_velos_dispo'] + df['nb_places_dispo'])
df.head()

,station_id,nb_velos_dispo,nb_places_dispo,latitude,longitude,record_timestamp,ratio
0,1,0,0,50.641926,3.075992,2023-09-27 18:18:01.557000+00:00,NaN
1,1,0,0,50.641926,3.075992,2023-09-27 05:32:00.631000+00:00,NaN
2,1,0,0,50.641926,3.075992,2023-09-27 02:37:01.470000+00:00,NaN
3,1,0,0,50.641926,3.075992,2023-09-27 07:02:06.403000+00:00,NaN
4,1,0,0,50.641926,3.075992,2023-09-27 04:19:01.130000+00:00,NaN

In [5]:
df.dropna(inplace=True)
df.head()

,station_id,nb_velos_dispo,nb_places_dispo,latitude,longitude,record_timestamp,ratio
52,2,31,0,50.632233,3.046134,2023-09-27 08:04:01.643000+00:00,1.0
53,2,31,0,50.632233,3.046134,2023-09-27 06:51:08.256000+00:00,1.0
54,2,31,0,50.632233,3.046134,2023-09-27 07:51:00.940000+00:00,1.0
55,3,18,0,50.636093,3.050447,2023-09-27 11:01:03.537000+00:00,1.0
56,3,18,0,50.636093,3.050447,2023-09-27 07:20:01.829000+00:00,1.0

In [6]:
df['time_index'] = df['record_timestamp'].apply(lambda x: pd.to_datetime(x).to_pydatetime().strftime('%H%M'))

In [11]:
df.to_csv('dataset_light_2023_09_27.csv', index=False)

In [12]:
df.head()

,station_id,nb_velos_dispo,nb_places_dispo,latitude,longitude,ratio,time_index
52,2,31,0,50.632233,3.046134,1.0,0804
53,2,31,0,50.632233,3.046134,1.0,0651
54,2,31,0,50.632233,3.046134,1.0,0751
55,3,18,0,50.636093,3.050447,1.0,1101
56,3,18,0,50.636093,3.050447,1.0,0720

In [15]:
distincts_time_index = df['time_index'].unique()
distincts_time_index.sort()
distincts_time_index

array(['0000', '0002', '0003', ..., '2357', '2358', '2359'], dtype=object)

In [ ]:
#  transactions ...