In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('dataset_light.csv')
df.head()

,station_id,nb_velos_dispo,nb_places_dispo,latitude,longitude,record_timestamp
0,2,31,0,50.632233,3.046134,2023-11-13 08:57:01.256000+00:00
1,2,31,0,50.632233,3.046134,2023-11-13 08:58:03.077000+00:00
2,2,31,0,50.632233,3.046134,2023-11-13 08:59:00.917000+00:00
3,2,31,0,50.632233,3.046134,2023-11-13 09:00:45.806000+00:00
4,2,31,0,50.632233,3.046134,2023-11-13 09:00:45.806000+00:00

In [18]:
df['ratio'] = df['nb_velos_dispo'] / (df['nb_velos_dispo'] + df['nb_places_dispo'])

In [19]:
df['time_index'] = df['record_timestamp'].apply(lambda x: pd.to_datetime(x).to_pydatetime().strftime('%H%M'))

In [ ]:
df.drop('record_timestamp')
df.head()

In [ ]:
for index in df.index.unique():
    df.loc[index].to_csv('data_ratio/{}.csv'.format(index))