In [41]:
import plotly.express as px
import pandas as pd

In [45]:
# load csv to dataframe
df = pd.read_csv('looker_datataset_light.csv')
df.head()

   station_id                 geo  nb_velos_dispo  time_index
0           2  50.632233,3.046134              31         857
1           2  50.632233,3.046134              31         858
2           2  50.632233,3.046134              31         859
3           2  50.632233,3.046134              31         900
4           2  50.632233,3.046134              31         900

In [47]:
df['latitude'] = df['geo'].apply(lambda x : float(x.split(',')[0]))
df['longitude'] = df['geo'].apply(lambda x : float(x.split(',')[1]))
df.head()

,station_id,geo,nb_velos_dispo,time_index,latitude,longitude
0,2,"50.632233,3.046134",31,857,50.632233,3.046134
1,2,"50.632233,3.046134",31,858,50.632233,3.046134
2,2,"50.632233,3.046134",31,859,50.632233,3.046134
3,2,"50.632233,3.046134",31,900,50.632233,3.046134
4,2,"50.632233,3.046134",31,900,50.632233,3.046134

In [48]:
fig = px.scatter_mapbox(df, 
                        lat="latitude", 
                        lon="longitude", 
                        # hover_name="City", 
                        # hover_data=["State", "Population"],
                        color_discrete_sequence=["fuchsia"], 
                        zoom=3, 
                        height=300)
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed